{% extends 'base.html' %}

{% block content %}
<h2 style="text-align:center;">🔐 Login</h2>
<div class="form-card">
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>
    <p style="text-align:center;">Don't have an account? <a href="{% url 'signup' %}">Signup here</a>.</p>
</div>
{% endblock %}
